<h3>Update Profile</h3>
<div [hidden]="isSuccessful" style="width: 400px;">
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="name">First name:</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.firstName" name="name" #name="ngModel">
    </div>
    <div class="alert-danger" *ngIf="name.errors && f.submitted">
      <div *ngIf="name.errors.required">First name is required</div>
    </div>

    <div class="form-group">
      <label for="name">Last Name:</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="user.lastName" name="author" #author="ngModel">
    </div>
    <div class="alert-danger" *ngIf="author.errors && f.submitted">
      <div *ngIf="author.errors.required">LastName is required</div>
    </div>

    <div class="form-group">
      <label for="name">Email:</label>
      <input type="email" class="form-control" id="count" required [(ngModel)]="user.email"  name="count" #count="ngModel">
    </div>

    <div class="alert-danger" *ngIf="count.errors && f.submitted">
      <div *ngIf="count.errors.required">Email is required</div>
    </div>

    <div class="alert-danger" *ngIf="f.submitted">
        <div *ngIf="isSignUpFailed">{{errorMessage}}</div>
    </div>



    <div class="form-group">
      <div class="dropdown">
        <label for="name">Gender:</label>
        <button style="width: 400px; text-align: left" class="form-control" type="button" id="rating" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.gender}}
        </button>
        <div class="dropdown-content">
          <a on-click="user.gender = 'MAN'">MAN</a>
          <a on-click="user.gender = 'WOMAN'">WOMAN</a>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
<div class="alert alert-success" *ngIf="isSuccessful">
  Your update is successful!
</div>


