<div class="panel panel-primary"*ngIf="info.token; else loggedOut">
  <div class="panel-heading">
    <h2>All Users</h2>

  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th *ngIf="showAdminBoard">Edit role moderator</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async | paginate: { itemsPerPage: 5, currentPage: p }">
        <td on-click="userDetails(user.id)">{{user.id}}</td>
        <td on-click="userDetails(user.id)">{{user.username}}</td>
        <td on-click="userDetails(user.id)">{{user.email}}</td>
        <td on-click="userDetails(user.id)">
          <div *ngFor="let role of user.roles">
            {{role.name}}
          </div>
        </td>
        <td *ngIf="showAdminBoard && !checkMode(user.roles)"><button class="btn btn-outline-success " (click)="addRole(user.id)">Add Mod</button></td>
        <td *ngIf="showAdminBoard && checkMode(user.roles)"><button  class="btn btn-outline-danger" (click)="delRole(user.id)">Del Mod</button></td>
      </tr>
      </tbody>
    </table>
    <pagination-controls class="pagination pagination justify-content-end" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<ng-template #loggedOut>
  Please login for look books
</ng-template>

