.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table th, .table td {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.table tr:hover td {
  background: #d2d5d0;
}
.pagination /deep/ .ngx-pagination .current {
  background: #6c757d;
}

