<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" >
        <a class="nav-link" routerLink="book-list">All books</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="book-available">Available books</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
        <a class="nav-link" routerLink="create-book">Add book</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" routerLink="user-list">Users</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
        <a class="nav-link" routerLink="history">History</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
