
.table1 {

  width: 100%;
  overflow: hidden;
}
.table1 th, .table1 td {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.table1 th, .table1 td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.scroll-table-body  td:hover {
  background: #91cec9;
}

.scroll-table-body {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.scroll-table table {
  width:100%;
  table-layout: fixed;
  border: none;
}
.scroll-table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.scroll-table tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.scroll-table tbody tr:nth-child(even){
  background: #f3f3f3;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.table2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table2 th, .table2 td {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.table2 tr:hover td {
  background: #91cec9;
}

.table3 {

  width: 100%;
  overflow: hidden;
}
.table3 th, .table3 td {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.table3 th, .table3 td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.table3 td:hover {
  background: #91cec9;
}
