
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 text-center text-black" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img *ngIf="user.gender == 'WOMAN'"
                src="https://bootdey.com/img/Content/avatar/avatar3.png"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px;"
              />
              <img *ngIf="user.gender == 'MAN'"
                   src="https://bootdey.com/img/Content/avatar/avatar7.png"
                   alt="Avatar"
                   class="img-fluid my-5"
                   style="width: 80px;"
              />
              <h5>{{user.username}} </h5>
              <p>Book lover</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>First Name</h6>
                    <p class="text-muted">{{user.firstName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Last Name</h6>
                    <p class="text-muted">{{user.lastName}}</p>
                  </div>

                  <div class="col-6 mb-3">
                    <h6>Count books</h6>
                    <p class="text-muted">{{user.countBooks}}</p>
                  </div>

                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showAdminBoard || showModeratorBoard">
        <h6>User details</h6>
          <h6>Email</h6>
          <p class="text-muted">{{user.email}}</p>
        <hr>
          <h6>Id</h6>
          <p class="text-muted">{{user.id}}</p>
          <hr>
          <h6>Books</h6>
          <div *ngFor="let book of user.books">
            <div class="book" on-click="bookDetails(book.id)">
              <a>{{book.name}}</a>
            </div>
          </div>
        <hr>
          <h6>Book for return </h6>
              <div *ngFor="let book of booksForReturn | async">
                <div class="bookR" on-click="bookDetails(book.id)">
                  <a>{{book.name}}</a>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
