<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card" >
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img *ngIf="user.gender == 'WOMAN'" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Admin" class="rounded-circle" width="150">
              <img *ngIf="user.gender == 'MAN'" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user.firstName}} {{user.lastName}}</h4>
                <p class="text-secondary mb-1">Book is my life</p>
                <button (click)="updateUser(user.id)" class="btn btn-secondary my-2 my-sm-0" style="margin-left: 10px">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.firstName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.lastName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Count of book</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.countBooks}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.gender}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">My books</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                <div *ngFor="let book of userBook| async">
                  <div class="book" on-click="bookDetails(book.id)">
                    <a>{{book.name}}</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Need to return</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                <div *ngFor="let book of booksForReturn | async">
                  <div class="bookR" on-click="bookDetails(book.id)">
                    <a>{{book.name}}</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>

  </div>
</div>
